In [21]:
import requests
import pandas as pd
from datetime import datetime
import io
import pandas_datareader.data as web
import kchart

In [22]:
def get_data(symbol,startdate):
    url= "http://finance.google.com/finance/historical"
    params = {}
    params['q'] = symbol
    params['startdate'] = startdate 
    params['output'] = 'csv'
    r = requests.get(url , params = params)
    return(r.text)

In [23]:
df = get_data('TSLA',datetime(2017,1,1))

In [24]:
data = pd.read_csv(io.StringIO(df))

In [25]:
data.head()

        Date    Open    High     Low   Close   Volume
0   5-Dec-17  302.00  308.00  301.00  303.70  4646520
1   4-Dec-17  306.50  308.26  300.61  305.20  5835140
2   1-Dec-17  305.44  310.32  305.05  306.53  4292868
3  30-Nov-17  308.56  310.70  304.54  308.85  4351587
4  29-Nov-17  317.30  318.00  301.23  307.54  8767398

In [26]:
data.tail()

         Date    Open    High     Low   Close    Volume
229  9-Jan-17  228.97  231.92  228.00  231.28   3979484
230  6-Jan-17  226.93  230.31  225.45  229.01   5527893
231  5-Jan-17  226.42  227.48  221.95  226.75   5911695
232  4-Jan-17  214.75  228.00  214.31  226.99  11213471
233  3-Jan-17  214.86  220.33  210.96  216.99   5923254

In [27]:
data.Date = pd.to_datetime(data.Date)
data.index = data.Date
del data['Date']

In [33]:
data.tail()

              Open    High     Low   Close    Volume
Date
2017-01-09  228.97  231.92  228.00  231.28   3979484
2017-01-06  226.93  230.31  225.45  229.01   5527893
2017-01-05  226.42  227.48  221.95  226.75   5911695
2017-01-04  214.75  228.00  214.31  226.99  11213471
2017-01-03  214.86  220.33  210.96  216.99   5923254

In [32]:
data2 = web.DataReader('TSLA', 'yahoo', datetime(2017, 1, 1))
data2.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,214.860001,220.330002,210.960007,216.990005,216.990005,5923300
2017-01-04,214.750000,228.000000,214.309998,226.990005,226.990005,11213500
2017-01-05,226.419998,227.479996,221.949997,226.750000,226.750000,5911700
2017-01-06,226.929993,230.309998,225.449997,229.009995,229.009995,5527900
2017-01-09,228.970001,231.919998,228.000000,231.279999,231.279999,3957000

In [35]:
kchart.draw(data2)

AttributeError: module 'kchart' has no attribute 'draw'

In [198]:
type(data)

pandas.core.frame.DataFrame

In [42]:
import requests

url = "http://finance.google.com/finance/historical"

params = {}
params['q'] = 'APPL'
params['startdate'] = '2016-01-01'
params['output'] = 'csv'

r = requests.get(url, params=params)

print(r.text)

<!DOCTYPE html><html lang=en><meta charset=utf-8><meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width"><title>Error 400 (Not Found)!!1</title><style>*{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{color:#222;text-align:unset;margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px;}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}pre{white-space:pre-wrap;}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}</style><div id="af-error-container"><a href=//www.google.com><span id=logo aria-label=Google></span></a><p><b>400.</b> <ins>That’s an error.</ins><p>The requested URL was not found on this server. <ins>That’s all we know.</ins></div>